body{
    background-color: white;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color: white;
    color:#134e9d; 

    height: 150px;
}

#page-name{
    position: absolute;
    font-size: 100px;
}

#logo{
    position: absolute;
    margin: 0;
    right: 10px;
    top: 10px;
}

#navbar{
    background-color: #134e9d;
    color: white;
}

#navbar ul{
    padding: 0;
    list-style: none;
    left: 50px;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#video{    
    height: 500px;
    width: 500px;
    background-color: white;

    position: absolute;
    margin: 0;
    left: 50px;
    top: 300px;
}

#texto{
    height: 500px;
    width: 1000px;

    font-size: 20px;

    position: absolute;
    margin: 0;
    right: 250px;
    top: 250px;
}

#prediction{
    position: absolute;
    left: 670px;
    bottom: 300px;
}

#prediction h1{
    font-size: 50px;
}

.flex-container {
    position: absolute;
    right: 50px;
    bottom: 110px;

    width: 1200px;
    display: flex;
    justify-content: space-between
}

.prediction-box{
    border: 1px;
    border-color: black;
    border-style: solid;

    height: 200px;
    width: 160px;
}

#main-footer{
    background: #134e9d;
    color: white;
    text-align: center;
    padding: 20px;
    padding-right: 15px;
    align-content: center;
    

    width: 100%;
    height: 20px;

    position: absolute;
    bottom: 0;
}