<!DOCTYPE html>
<html>
<head>
    <title>Smart Hydrometer</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<body onload="update_values();">
    <header id="main-header">
        <h1 id="page-name">Smart Hydrometer</h1>
        <div id="logo">
            <img src="static/images/qc_iot_logo.png" alt="Qualcomm logo">
        </div>
    </header>

    <nav id="navbar">
        <div class="container">
            <ul>
                <li><a href="#">Português</a></li>
                <li><a href="/english">English</a></li>
            </ul>
        </div>
    </nav>

    <div id="video">
        <iframe src="http://172.16.100.106/api/mjpegvideo.cgi?" height="750" width="500" frameborder="0"></iframe>
    </div>

    <div id="texto"> 
        <h1>Descrição do projeto</h1>
        <p>Este projeto foi desenvolvido pelo IoT Reference Center, parceria entre Qualcomm e Facens.
            A aplicação tem como objetivo automatizar a leitura de medidores analógicos de forma remota,
            utilizando uma câmera instalada no local. A plataforma utilizada no projeto é a DragonBoard 410c,
            que aquisita o vídeo da câmera, utiliza um algoritmo de inteligência artificail para reconhecer os números
            e envia a informação pela rede.
        </p> 
    </div>

    <div id="prediction">
        <h1>Leitura feita pelo algoritmo:</h1>
    </div>

    <div class="flex-container">
        <div id="first-box" class="prediction-box"><img id="first-number" src="" alt="" height="200" width="160"></div>
        <div id="second-box" class="prediction-box"><img id="second-number" src="" alt="" height="200" width="160"></div>
        <div id="third-box" class="prediction-box"><img id="third-number" src="" alt="" height="200" width="160"></div>
        <div id="forth-box" class="prediction-box"><img id="forth-number" src="" alt="" height="200" width="160"></div>
        <div id="fifth-box" class="prediction-box"><img id="fifth-number" src="" alt="" height="200" width="160"></div>
        <div id="sixth-box" class="prediction-box"><img id="sixth-number" src="" alt="" height="200" width="160"></div>
    </div>

    <script>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}
        var intervalID = setInterval(update_values,1000);
        function update_values(){
        $.getJSON($SCRIPT_ROOT + '/_update', 
            function(data){ 
                document.getElementById("first-number").src = "static/images/numbers_black/"+data.n1+".png"
                document.getElementById("second-number").src = "static/images/numbers_black/"+data.n2+".png"
                document.getElementById("third-number").src = "static/images/numbers_black/"+data.n3+".png"
                document.getElementById("forth-number").src = "static/images/numbers_black/"+data.n4+".png"
                document.getElementById("fifth-number").src = "static/images/numbers_black/"+data.n5+".png"
                document.getElementById("sixth-number").src = "static/images/numbers_red/"+data.n6+".png"
            });
        };
    </script>

    <footer id="main-footer">
        <p>Qualcomm IoT Reference Center Powered by Facens, 2019</p>
    </footer>
</body>
</html>